@import "tailwindcss";

@media print {
  body {
    background-color: #ffffff !important;
  }
  .no-print {
    display: none !important;
  }
  .printable-area {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}
